---
# tasks file for ec2 role
#
- name: install apache y php
  ansible.builtin.apt:
    name: 
      - apache2
      - php
      - php-mysql
      - ghostscript
      - libapache2-mod-php
      - mysql-server
      - php-bcmath
      - php-curl
      - php-imagick
      - php-intl
      - php-json
      - php-mbstring
      - php-xml
      - php-zip

    state: present
    update_cache: yes
    
- name: ensure apache is running
  ansible.builtin.service:
    name: apache2
    state: started
